body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(./images/bg-pattern-top.svg) , url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position-x: -15rem, 55rem;
    background-position-y: -15rem, 15rem;
    background-color:hsl(185, 75%, 39%);
}
@media screen and (min-width : 375px) {
    .content-container{
        width: 70%;
        height: 22rem;
        margin-left: 15%;
        margin-top: 20%;
    }
}
@media screen and (min-width : 1440px) {
    .content-container{
        width: 22%;
        height: 22rem;
        margin-left: 40%;
        margin-top: 20%;
    }
}
.card {
    box-shadow: 4.5px 4.5px 7.5px 2px hsl(185, 79%, 32%);
    border: none;
    border-radius: 10px;
}
.card #victor{
    position: absolute;
    margin-top: 65px;
    margin-left: 33%;
    width: 33%;
    border-radius: 100%;
    border: 2px solid white;
}
.card-header{
    background-image: url(./images/bg-pattern-card.svg);
    padding: 65px 30px;
    border-radius: 10px 10px 0px 0px;
}
.card-body{
    text-align: center;
}
.name-row{
    display: flex;
    width: 47.5%;
    margin: auto;
    margin-top: 50px;
}
.name-row h3{
    font-weight: 700;
    margin-right: 10px;
    font-size: 19px;
}
.name-row p{
    font-weight: 400;
    font-size: 18px;
}
.card-body p{
    color: hsl(227, 10%, 46%);
}
.card-footer{
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.card-footer div{
    padding: 14px 14px 0px;
}
.card-footer h3{
    color: hsl(229, 23%, 23%);
    font-size: 20px;
    font-weight: 700;
}
.card-footer p{
    color: hsl(227, 10%, 46%);
}
.attribution {
    margin-top: 5rem;
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}